/* Colors */
$color-dark: #222f3e;
$color-light: #dff9fb;
$color-main: #ffa801;
$background-color-dark: #1e272e;
$background-color-light: #f1f2f6;
$hover-color-dark: #485460;
$hover-color-light: #c7ecee;
$color-links: #575fcf;
$color-warning: #da0404;
$color-success: #22923a;

/* Font sizes & weight*/
$header-big-font-size: 28px;
$header-font-size: 24px;
$header-small-font-size: 20px;
$base-font-size: 16px;
$small-font-size: 12px;


$font-light: 300;
$font-normal: 400;
$font-semibold: 500;
$font-bold: 700;

/* Fonts */
$font-header: 'Lato', sans-serif;
$font-text: 'Open Sans', sans-serif;
$font-logo: 'Rock Salt', cursive;

/* Other */
$transition: all 1s;
$transition-quick: all 0.3s;
$radius: 4px;
$base-size: 12px;
