.btn {
  background-color: $color-main;
  color: $color-light;
  border-color: $color-light;
  border-radius: $radius;
  border-width: 1px;
  border-style: solid;
  transition: $transition;
  display: inline-block;
  padding: 10px;
  width: 150px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: $base-font-size;
  cursor: pointer;
  overflow: hidden;

  &:hover {
    box-shadow: 0 0 10px 5px $color-dark;
    color: $color-dark;
    border-color: $color-dark;
  }
}

.btn-cancel {
  background: $color-dark;
}

.btn-success {
  background: $color-success;
}

.btn-warning {
  background: $color-warning;
}

.btn-add {
  background: $color-main;
  margin: 20px auto;
}

.btn-save {
  background: $color-main;
  margin: 20px auto;
  width: 100px;
}

.btn-refresh {
  position: absolute;
  top: 35px;
  height: 50px;
  width: 50px;
  margin-left: 15px;

  img {
    width: 25px;
    height: 25px;
    transition: $transition-quick;
  }

  &:hover img {
    width: 28px;
    height: 28px;
  }
}
