.list {
  padding: 0 20px;
}

.list-row {
  background: $background-color-light;
  list-style-type: none;
  display: flex;
  margin: 1px auto;
  padding: 5px 15px;
  border-bottom: 1px solid $color-dark;

  &:hover {
    background: $hover-color-light;
    cursor: pointer;
  }
}

.list-link {
  text-align: left;
  flex-wrap: wrap;
  justify-content: space-between;

  h3 {
    flex: 0 0 25%;
  }

  a {
    flex: 0 0 50%;
    text-decoration: none;
    color: $color-links;
    margin: auto 10px;
    word-wrap: break-word;
  }

  .link-icons {
    margin: 15px 0;
  }

  img {
    width: 20px;
    margin-right: 20px;
  }
}

.list-text{
  p {
    margin: auto;
  }
}

.list-value{
  justify-content: space-between;
}

.nav-list {
  font-family: $font-header;
  color: $color-light;
  background-color: $background-color-dark;
  width: 100%;
  padding-left: 0;
  margin: 0 auto;

  a {
    cursor: pointer;

    &.active .nav-bar{
      border-left: 5px solid $color-main;
      background: $hover-color-dark;
    }

    &.active p{
      color: $color-main;
    }
  }
}

.nav-bar {
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
  height: 40px;
  padding-left: 20px;

  .nav-icon {
    position: relative;
    width: 40px;

    img {
      position: absolute;
      height: 20px;
      width: 20px;
      margin: 10px auto;
    }
  }

  &:hover {
    border-left: 5px solid $color-main;
    background: $hover-color-dark;
  }
}

.nav-link {
  min-width: 150px;

  p {
    font-size: $base-font-size;
    color: $color-light;
    margin: 5px auto;
  }
}

@media (max-width: 999px) {
  .list-link {
    .link-icons {
      margin: 10px auto;;
    }
  }
}

@media (max-width: 767px) {
  .list {
    display: block;
    margin: 10px auto;
  }

  .list-link {
    display: block;
    text-align: center;
  }
}
