.scroll-wrapper {
  display: block;
  width: 100%;
  overflow-x: auto;
  margin: 20px auto 0 auto;
  padding: 10px;
}

.scroll-wrapper table,
.scroll-wrapper .table-content {
  padding: 5px;
  width: 100%;
  max-width: 100%;
}

//first option for table

tr {
  &:hover {
    background-color: $hover-color-light;
  }
}

.table-pages {
  margin: 0 auto;
  padding: 20px 0;

  .scroll-page {
    display: inline-flex;
    margin: 10px;
    width: 20px;
    height: 20px;

    img {
      width: 100%;
    }
  }

  a {
    display: inline-flex;
    width: 35px;
    height: 35px;
    margin: 0 5px;

    .table-page {
      margin: 5px auto;
    }

    &:hover,
    &.active {
      background-color: $hover-color-light;
    }
  }
}

// second option for table

.table-header{
  font-weight: $font-bold;
}

.table-row {
  position: relative;
  justify-content: space-between;
  display: flex;
  padding: 10px;

  p {
    display: inline-flex;
    flex: 0 0 9%;
    max-width: 100%;
    padding: 5px;
    margin: 0 5px;
  }

  &:hover {
    background-color: $hover-color-light;
  }

  &:after {
    position: absolute;
    top: -1px;
    border-bottom: 2px solid darken($background-color-light, 15%);
  }
}
