#pages {
  > * {
    display: none;
  }

  > .active {
    display: block;
  }
}

.graph-header {
  text-align: left;
  padding: 5px 15px;
  margin-top: 40px;
}

.general-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .list {
    min-width: 250px;
    padding: 0;
    width: 47%;
  }
}

.graph-options {
  margin: 30px auto 60px auto;

  div {
    padding: 10px 15px;
    margin: 10px 20px;
    border-radius: $radius;
    display: inline-flex;
    flex: 0 0 33%;

    span {
      margin: 5px 10px;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      background-color: rgb(102, 178, 201);
    }

    &:hover {
      background-color: $hover-color-light;
    }
  }

  .graph-span-active {
    background-color: $hover-color-light;
  }

  .graph-ftd {
    background-color: rgb(231, 131, 38);
  }

  .graph-earned {
    background-color: rgb(29, 175, 53);
  }
}

.general-content img {
  padding: 15px;
  margin: 0 auto 40px auto;
  width: 100%;
}

@media (max-width: 767px) {
  .input-line {
    display: none;
  }
}
