.content {
  background-color: $background-color-light;
  color: $color-dark;
}

.content-header {
  padding: 5px 18px;
  border-bottom: 2px solid darken($background-color-light, 15%);
}

.content-elements {
  text-align: center;
  min-height: 50vh;
}

