.section-header {
  position: sticky;
  top: 0;
  border-bottom: 1px solid $color-main;
  z-index: 10;

  img {
    cursor: pointer;
  }
}

.header {
  background-color: $background-color-light;
  height: 60px;
  width: 100%;
  justify-content: flex-end;
  display: inline-flex;
  text-align: center;

  div {
    padding-top: 16px;

    span {
      padding: 0 10px;
    }
  }

  img {
    height: 18px;
    width: 18px;
    transition: $transition-quick;

    &:hover {
      height: 20px;
      width: 20px;
    }
  }
}

.header-wallet,
.header-profile {
  height: 60px;
  width: 180px;
  border-left: 1px solid $color-main;
  border-right: 1px solid $color-main;

  &:hover {
    background-color: $hover-color-light;
  }
}

.header-profile {
  font-size: $small-font-size;
}

.header-notification,
.header-quit {
  height: 60px;
  width: 60px;
}

.header-notification{
  position: relative;

  .notification-unread {
    position: absolute;
    top: 12px;
    left: 30px;
    padding: 5px 5px;
    border-radius: 50%;
    background-color: $color-main;
  }
}

@media (max-width: 767px) {
  .section-header {
    display: none;
  }

  .header {
    height: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    border: none;
  }

  .header-wallet,
  .header-profile {
    border: none;
  }
}
